@import"layout";
@import"reset";
@import"menu";
@import"vars";
@import"grid";

.pai {
    .filho {
        background-color: cadetblue;

    }
    .filha {
        background-color: cornflowerblue;
        &.rebelde{
            background-color: darkseagreen;
        }
    }
}